<!DOCTYPE html>
<html>
<head>
    <title>to-do list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- css lib -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <!-- css main -->
    <link rel="stylesheet" href="css/main.css"/>
</head>

<body>
<div class="container">
    <h2 class="text-center">To-do list</h2>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="addFormTodoList">
            <div class="form-group">
                <textarea class="form-control" name="text" id="text" placeholder="enter text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary disabled">add task</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<div class="container">
    <h3 class="text-center">Tasks</h3>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="tasksArea" class="tasks-list"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- template -->
<script type="text/template" id="taskTemplate">
    <div id="<%= id %>" class="completed-<%= completed %> task<% if(authorIsMe && !completed){%> edit<%} %>">
        <div class="row">
            <div class="col-md-9 task-text">
                <div class="view-task">
                    <b class="text"><%- text %></b>
                    <br/>
                    <small><%= viewDate %></small>
                    <%if(!authorIsMe){%>
                    <small><%= authorName %></small>
                    <%}%>
                </div>
                <div class="edit-task">
                    <textarea class="form-control" row="3" name="text" placeholder="enter text"><%- text %></textarea>
                    <button type="submit" class="btn btn-primary btn-save">save</button>
                </div>
            </div>
            <div class="col-md-3 active-panel text-left">
                <%if(authorIsMe){%>
                    <button name="delete" type="button" class="btn btn-primary btn-sm">delete</button>
                <%}%>
                <%if(!completed){%>
                <br/>
                <button name="completed" type="button" class="btn btn-primary btn-sm">Mark as Completed</button>
                <%}else{%>
                <br/>
                <button name="reopen" type="button" class="btn btn-primary btn-sm">Reopen</button>
                <%}%>
            </div>
        </div>
    </div>
    <hr/>
</script>

<script type="text/template" id="emptyListTemplate">
    <div class="text-center empty-list">List is empty.</div>
</script>


<script data-main="js/main" src="js/lib/require.js"></script>
</body>
</html>
